body{ 
    margin: 0; 
}

canvas { 
border: solid 1px gold;
position:relative;
background: green;
}

canvas:target {
    display: none;
  }

#holder {
display:block;
margin: 20px auto 0 auto;
width:800px;
height:600px;
}